<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.lottery.persistence.PrizeMapper">
	<insert id="insert" useGeneratedKeys="true"
		parameterType="com.im.lottery.entity.Prize" keyProperty="prizeId">
		INSERT INTO
		t_prize(
		`name`,
		`detail`,
		`text`,
		`inventory`,
		`status`,
		`addTime`,
		`updateTime`
		)VALUES(
		#{name},
		#{detail},
		#{text},
		#{inventory},
		#{status},
		#{addTime},
		#{updateTime}
		)
	</insert>
	<delete id="delete">
		DELETE FROM t_prize
		<where>
			prizeId=#{prizeId}
		</where>

	</delete>
	<update id="update" parameterType="com.im.lottery.entity.Prize">
		UPDATE t_prize SET
		<if test="name!=null">
			`name`=#{name},
		</if>
		<if test="detail!=null">
			`detail`=#{detail},
		</if>
		<if test="text!=null">
			`text`=#{text},
		</if>
		<if test="inventory!=null">
			`inventory`=#{inventory},
		</if>
		`updateTime`=#{updateTime}
		<where>
			prizeId=#{prizeId}
		</where>
	</update>
	<select id="findAll" resultType="com.im.lottery.entity.Prize">
		SELECT * FROM t_prize
	</select>
	<select id="findById" resultType="com.im.lottery.entity.Prize">
		SELECT * FROM t_prize
		<where>
			prizeId=#{prizeId}
		</where>
	</select>
	<select id="getInventory" resultType="com.im.lottery.entity.InventoryCount">
		SELECT `inventory` FROM t_prize
		<where>
			prizeId=#{prizeId}
		</where>
	</select>
	<update id="minusInventort">
		UPDATE t_prize SET `inventory`=`inventory`-1
		<where>
			prizeId=#{prizeId}
		</where>
	</update>


</mapper>